.header {
    height: 100vh;
    background-image: url('../../Images/bg1.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
}

.link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  .link:hover,
  .link:focus {
  text-decoration: none;
  }

.spider {
    width: 3vw;
    height: 5vh;
    padding-bottom: 0.5vh;
    margin-right: 0.5vw;
}



@media screen and (max-width: 1100px) {
    .spider {
        display: none;
    }
}