.header {
    height: 100vh;
    background-image: url('../../Images/bg1.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
}

.link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  .link:hover,
  .link:focus {
  text-decoration: none;
  }

.nextlinkdiv {
    margin-top: 15vh;
    position: relative;
    animation: infinite;
    animation-name: nextlink;
    animation-duration: 4s;
    animation-direction: reverse; 
}

.nextlink {
    color: white;
    transition-duration: 0.3s;
}

@keyframes nextlink {
    0%   {left:0px; top:0px;}
    10%  {left:0px; top:20px;}
    20% {left:0px; top:0px;}
    30%  {left:0px; top:15px;}
    40% {left:0px; top:0px;}
    50% {left:0px; top:0px;}
    60% {left:0px; top:0px;}
    70% {left:0px; top:0px;}
    80%  {left:0px; top:0px;}
    90%  {left:0px; top:0px;}
    100%  {left:0px; top:0px;}
  }

.nextlink:hover {
    color: #0056b3;
}


.spider {
    width: 3vw;
    height: 5vh;
    padding-bottom: 0.5vh;
    margin-right: 0.5vw;
}

@media screen and (max-height: 870px) {
    .nextlinkdiv {
        margin-top: -20vh;
    }
}

@media screen and (max-width: 1100px) {
    .spider {
        display: none;
    }
}