.header {
    height: 100vh;
    background-image: url('../../Images/bg1.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
}

.link {
    background-color: transparent;
}
  
.link:hover,
.link:focus {
  text-decoration: none;
}

.Hiremenow {
    border: none;
}
  
  .Hiremenow:hover,
  .Hiremenow:focus {
  text-decoration: none;
}

.linkWithoutBorder {
    background-color: transparent;
    border: none;
}
  
  .linkWithoutBorder:hover,
  .linkWithoutBorder:focus {
  text-decoration: none;
}

.spider {
    width: 200px;
    height: 80px;
    padding-bottom: 0.5vh;
    margin-right: 0.5vw;
}



@media screen and (max-width: 1100px) {
    .spider {
        display: none;
    }
}