.link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  .link:hover,
  .link:focus {
  text-decoration: none;
}

.nextlinkdiv {
    margin-top: 15vh;
    position: relative;
    animation: infinite;
    animation-name: nextlink;
    animation-duration: 4s;
    animation-direction: reverse; 
}

.nextlink {
    margin-top: 40vh;
    color: white;
    transition-duration: 0.3s;
}

.nounderline:hover {
    text-decoration: none;
}

@keyframes nextlink {
    0%   {left:0px; top:0px;}
    10%  {left:0px; top:20px;}
    20% {left:0px; top:0px;}
    30%  {left:0px; top:15px;}
    40% {left:0px; top:0px;}
    50% {left:0px; top:0px;}
    60% {left:0px; top:0px;}
    70% {left:0px; top:0px;}
    80%  {left:0px; top:0px;}
    90%  {left:0px; top:0px;}
    100%  {left:0px; top:0px;}
}

.nextlink:hover {
    color: #357edd;
}

@media screen and (max-height: 870px) {
    .nextlink {
        margin-top: 30vh;
    }
}