.divtoanimate {
    animation: infinite;
    animation-name: animation;
    animation-duration: 5s;
    animation-direction: reverse; 
}

@keyframes animation {
    0%   {border-color:#357edd;}
    10%  {border-color:#357edd;}
    20% {border-color:#357edd;}
    30% {border-color:#357edd;}
    40% {border-color:#357edd;}
    50% {border-color:#ffffff;}
    60% {border-color:#e9f1fb;}
    70% {border-color:#bed5f4;}
    80% {border-color:#92b9ed;}
    90% {border-color:#669de5;}
    100% {border-color:#357edd;}
}