html {
  scroll-behavior: smooth;
}

@font-face {
  src: url('./Fonts/OpenSans-Regular.ttf');
  font-family: OpenSans;
}

* {
  font-family: OpenSans, 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
